/Cliente.class
/Dipendente.class
/LoginModel.class
/Prenotazione.class
/RegisterModel.class
/Responsabile.class
/Turno.class
/User.class
/UserType.class
/TurnoModel.class
/MezzoDiTrasporto.class
/PrenotazioneModel.class
/UserModel.class
/Indirizzo.class
/ClienteModel.class
/ResponsabileModel.class
/DipendenteModel.class
